.chat {
  font-size: 24px;
  overflow-anchor: auto;


  .chat-list-item {
    width: 100%;
    padding: 0 16px;
    display: flex;
    margin-bottom: 25px;
    &-text {
      background-color: var(--defaultButtonFillColor);
      color: #fff;
      max-width: 550px;
      padding: 18px 20px;
      box-sizing: border-box;
      border-radius: 10px;
    }
    .title {
      padding: 0 20px;
      display: block;
    }
    &-right {
      justify-content: flex-end;
      .title {
        text-align: end;
      }
      .item-text {
        margin-right: 20px;
      }
    }
    &-left {
      justify-content: flex-start;
      .item-text {
        margin-left: 20px;
        background-color: gray;
      }
    }
  }

  
}

.chat-bottom {
  position: fixed;
  z-index: 2;
  bottom: 0;
  left: 0;
  width: 100%;
  display: flex;
  align-items: flex-end;
  background-color: #eee;
  padding: 16px 20px 32px 20px;

  [class~='at-textarea'] {
    height: auto;
    min-height: 60px;
    max-height: 360px;
    overflow-y: auto;
  }

  .chat-bottom-input {
    width: 100%;
    padding: 12px;
    font-size: 32px;
    min-height: 44px;
    max-height: 320px;
    background-color: #fff;
    margin-right: 15px;
    border-radius: 5px;
    resize: none;
  }

  .chat-bottom-btn {
    width: 120px;
    text-align: center;
    border-radius: 10px;
    font-size: 28px;
    height: 60px;
    line-height: 60px;
    margin-bottom: 4px;
    padding: 0;
  }
}