.pro-file {
  width: 100%;
  padding: 32px;
  background-color: var(--yellow);
}

.login-button-container {
  display: flex;
  align-items: center;
  .avatar {
    display: flex;
  }
  .login-button {
    color: var(--defaultColor);
    background-color: transparent;
    display: flex;
    margin-left: 32px;
    .name {
      display: flex;
      align-items: center;
    }
    form {
      display: none;
    }
    .tiny-name {
      font-size: 24px;
    }
    .text-view {
      display: inline-block;
      max-width: 8em;
    }
  }
  .extra-node {
    display: flex;
  }
}
