.input-item {
  padding: 24px 32px;
  margin-left: 0;
}
.submit {
  margin-top: 100px;
}
.wx-login {
  width: 100%;
  position: absolute;
  bottom: 0;
  margin-bottom: 400px;
}
.wx-login-button {
  color: $color-brand;
  font-size: 24PX;
  font-weight: 300 
}