$color-brand: #0081ff;
@import '~taro-ui/dist/style/components/indexes.scss';
@import '~taro-ui/dist/style/components/list.scss';
@import '~taro-ui/dist/style/components/icon.scss';
@import '~taro-ui/dist/style/components/toast.scss';
@import '~taro-ui/dist/style/components/nav-bar.scss';
@import '~taro-ui/dist/style/components/avatar.scss';
@import '~taro-ui/dist/style/components/tab-bar.scss';
@import '~taro-ui/dist/style/components/badge.scss';
@import "~taro-ui/dist/style/components/card.scss";
@import "~taro-ui/dist/style/components/modal.scss";
@import "~taro-ui/dist/style/components/noticebar.scss";
@import "~taro-ui/dist/style/components/message.scss";
@import "~taro-ui/dist/style/components/article.scss";
@import "~taro-ui/dist/style/components/tag.scss";
@import "~taro-ui/dist/style/components/tabs.scss";
@import "~taro-ui/dist/style/components/input.scss";
@import "~taro-ui/dist/style/components/textarea.scss";
@import "~taro-ui/dist/style/components/form.scss";
@import "~taro-ui/dist/style/components/divider.scss";
@import "~taro-ui/dist/style/components/float-layout.scss";
@import "~taro-ui/dist/style/components/flex.scss";
@import "~taro-ui/dist/style/components/load-more.scss";
@import "~taro-ui/dist/style/components/activity-indicator.scss";
@import "~taro-ui/dist/style/components/radio.scss";
@import "~taro-ui/dist/style/components/input-number.scss";
@import "~taro-ui/dist/style/components/slider.scss";
@import './utils/sass/iconfonts.css';


page, html {
  border: 0;
  margin: 0;
  box-sizing: border-box;
  padding: 0;
  background-color: var(--defaultBackGround);
  --defaultBackGround: rgb(245, 247, 250);
  --defaultFillColor: rgb(255, 255, 255);
  --defaultColor: #333;
  --secondaryTextColor: #666;
  --defaultButtonFillColor: var(--blue);
  --red: #e54d42;
  --orange: #f37b1d;
  --yellow: #fbbd08;
  --olive: #8dc63f;
  --green: #39b54a;
  --cyan: #1cbbb4;
  --blue: #0081ff;
  --purple: #6739b6;
  --mauve: #9c26b0;
  --pink: #e03997;
  --brown: #a5673f;
  --grey: #8799a3;
  --gray: #aaa;
  --black: #333;
  --white: #fff;
  --gradualRed: linear-gradient(45deg, #f43f3b, #ec008c);
  --gradualOrange: linear-gradient(45deg, #ff9700, #ed1c24);
  --gradualGreen: linear-gradient(45deg, #39b54a, #8dc63f);
  --gradualPurple: linear-gradient(45deg, #9000ff, #5e00ff);
  --gradualPink: linear-gradient(45deg, #ec008c, #6739b6);
  --gradualBlue: linear-gradient(45deg, #0081ff, #1cbbb4);
}

.link-button {
  color: var(--defaultButtonFillColor);
  background: transparent
}

div,
view,
text,
taro-view-core,
taro-scroll-view-core,
scroll-view {
  box-sizing: border-box;
}
.self-modal_container .at-modal__container {
  width: 95%;
}
.at-modal__container {
  top: 45%;
}
button[type=primary], taro-button-core[type=primary], .button-hover[type=primary], button[loading][type=primary]  {
  background-color: var(--defaultButtonFillColor) !important;
}
button[disabled][type=primary], taro-button-core[disabled][type=primary] {
  background-color: var(--defaultButtonFillColor) !important;
  opacity: 0.6;
}
button[loading][type=primary], taro-button-core[loading][type=primary] {
  opacity: 0.6;
}
.warp{
  box-sizing: border-box;
}

.at-nav-bar__left-view {
  background-color: transparent;
  color: var(--defaultColor);
}
.at-modal__content {
  min-height: 10px;
}

view, form, page {
  box-sizing: border-box;
}

.text-secondary {
  color: var(--secondaryTextColor);
}

page .at-noticebar--weapp .at-noticebar__content-inner {
  animation: marquee 6s linear infinite both;
}

html taro-button-core {
  display: none;
}
