$color-brand: #333333;
@import "https://at.alicdn.com/t/font_2907804_fgrulnynm7s.css";


.self-modal_container .at-modal__container {
  width: 95%;
}
.at-modal__container {
  top: 45%;
}
.at-nav-bar__title {
  color: #fff;
}
button[type=primary], taro-button-core[type=primary], .button-hover[type=primary], button[loading][type=primary]  {
  background-color: $color-brand !important;
}
button[disabled][type=primary], taro-button-core[disabled][type=primary] {
  background-color: $color-brand !important;
  opacity: 0.6;
}
button[loading][type=primary], taro-button-core[loading][type=primary] {
  opacity: 0.6;
}
.warp{
  box-sizing: border-box;
}

.at-nav-bar__left-view {
  background-color: $color-brand !important;
}
.at-modal__content {
  min-height: 10px;
}

view, form, page {
  box-sizing: border-box;
}

.iconfont {
  font-size: 32px;
}