/* ----------- flex 布局相关 ---------------- */

@mixin flex-row {
  display: flex;
  flex-direction: row;
}

@mixin flex-column {
  display: flex;
  flex-direction: column;
}

.flex-1 {
  flex: 1;
}

/* flex 布局 - 行排列 */
.flex-row {
  @include flex-row();
}

/* flex 布局 - 列排列 */
.flex-column {
  display: flex;
  flex-direction: column;
}

/* flex 布局 - 行排列 - 水平居中展示 */
.flex-row-center {
  @include flex-row();
  justify-content: center;
}

/* flex 布局 - 行排列 - 水平局右展示 */
.flex-row-end {
  @include flex-row();
  justify-content: flex-end;
}

/* flex 布局 - 行排列 - 垂直居中展示 */
.flex-row-align-center {
  @include flex-row();
  align-items: center;
}

/* flex 布局 - 行排列 - 两端对齐展示 */
.flex-row-between {
  @include flex-row();
  justify-content: space-between;
}

/* flex 布局 - 列排列 - 垂直居中展示 */
.flex-column-center {
  @include flex-column();
  justify-content: center;
}

/* flex 布局 - 列排列 - 水平居中展示 */
.flex-column-align-center {
  @include flex-column();
  align-items: center;
}

/* flex 布局 - 列排列 - 水平垂直居中展示 */
.flex-column-justify-align-center {
  @include flex-column();
  align-items: center;
  justify-content: center;
}

/* flex 布局 - 行排列 - 水平垂直居中展示 */
.flex-center {
  @include flex-row();
  align-items: center;
  justify-content: center;
}

/* flex 布局 - 换行 */
.flex-wrap {
  flex-wrap: wrap;
}

.flex-1 {
  flex: 1;
}

.flex-shrink-0 {
  flex-shrink: 0;
}

.align-self-flex-end {
  align-self: flex-end;
}

/* ----------- flex 布局相关 ---------------- */

@mixin borderXT($w: 2px, $c: #fff) {
  position: relative;
  &::before {
    content: '';
    position: absolute;
    height: $w;
    left: 0;
    right: 0;
    background: $c;
    transform: scaleY(0.5);
    transform-origin: 0, 0;
    top: 0;
    pointer-events: none;
  }
}

@mixin borderXB($w: 2px, $c: #fff) {
  position: relative;
  &::before {
    content: '';
    position: absolute;
    height: $w;
    left: 0;
    right: 0;
    background: $c;
    transform: scaleY(0.5);
    transform-origin: 0, 0;
    bottom: 0;
    pointer-events: none;
  }
}

@mixin borderYL($w: 2px, $c: #fff) {
  position: relative;
  &::before {
    content: '';
    position: absolute;
    width: $w;
    top: 0;
    bottom: 0;
    background: $c;
    transform: scaleX(0.5);
    transform-origin: 0, 0;
    left: 0;
    pointer-events: none;
  }
}
@mixin borderYR($w: 2px, $c: #fff) {
  position: relative;
  &::before {
    content: '';
    position: absolute;
    width: $w;
    top: 0;
    bottom: 0;
    background: $c;
    transform: scaleX(0.5);
    transform-origin: 0, 0;
    right: 0;
    pointer-events: none;
  }
}
@mixin borderAll($w: 2px, $c: #fff, $br: 0, $zindex: auto) {
  position: relative;
  &::before {
    z-index: $zindex;
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 200%;
    height: 200%;
    transform: scale(0.5);
    transform-origin: left top;
    border: $w solid $c;
    border-radius: $br;
    box-sizing: border-box;
    pointer-events: none;
  }
}

/* 内容超过展示省略号（单行） */
.overflow-ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

